body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #4b1c26 0%, #ffffff 100%);
  background-image: 
    radial-gradient(circle at 30% 20%, rgba(128, 0, 32, 0.3) 0%, transparent 50%),
    radial-gradient(circle at 70% 30%, rgba(102, 0, 51, 0.2) 0%, transparent 60%),
    radial-gradient(circle at 50% 80%, rgba(153, 0, 76, 0.2) 0%, transparent 50%);
  background-repeat: no-repeat;
  background-size: cover;
}

.quiz-container {
  background: linear-gradient(180deg, #f8f1f3 0%, #d88a9a 40%, #732c42 100%);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

  width: 500px;

  text-align: center;
  
}


.question {
  font-size: 35px;
  color: #000000;
  margin-bottom: 20px;
  
}

.pergunta {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
  display: none;
}

.pergunta.visivel {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.option {
  display: block;

 background: linear-gradient(135deg, #4b1c26 0%, #732c42 40%, #a0435b 100%);
  color: #ffffff;

  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 25px;

  font-size: 26px;
  text-align: center;
  cursor: pointer;

  transition:0.9s ease;
  text-decoration: none;
}
.option:hover{
  transform: translate(5%);
  transform: scale(1.1);
}

.option, .questao {
  margin-right: 10px;
}


@media (max-width: 600px) {
  .quiz-container {
    width: 90%;
    padding: 20px;
  }

  .question {
    font-size: 24px;
  }

  .option {
    font-size: 20px;
    padding: 8px 12px;
  }
}

/* Media Query para tablets e dispositivos médios */
@media (max-width: 900px) {
  .quiz-container {
    width: 80%;
  }

  .question {
    font-size: 28px;
  }

  .option {
    font-size: 22px;
  }
}

  .resultado{
  color: #ffffff;
  font-size: 26px;
  text-align: center;

  }

.correta {
  background: #00ff1e ;
  border-radius: 25px;
}

.incorreta {
  background: #ff0000 ;
  border-radius: 25px;
}

.resultado-final {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  display: block; /* precisa estar block desde o começo */
}

.resultado-final.visivel {
  opacity: 1;
}
